.about {
    background: $light-gradient;
    position: relative;
    &-line-bg {
        position: absolute;
        top: 0;
        right: 0;
        object-fit: cover;
    }
    & > .container {
        position: relative;
        z-index: 5;
    }
    &-subtitle {
        color: #C0448F;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 120% */
        margin-bottom: 24px;
    }
    &-text {
        color: #4F5769;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        margin-bottom: 12px;
    }
    &-media {
        border-radius: 16px;
        height: 480px;
        padding-left: 12px;
        & img {
            border-radius: 16px;
            object-fit: cover;
        }
    }
}

.about-slider {
    margin: 0 -6px;
    position: relative;
    &-arrows {
        height: 1px;
        padding: 0;
        top: 25px !important;
        & .slider-arrow.next-slide {
            position: relative;
            right: -20px;
        }
        & .slider-arrow.prev-slide {
            position: relative;
            right: 20px;
        }
    } 
    
}

.about-slider-wrap {
    position: relative;
    margin-top: 60px;
}
.about-slide {
    display: flex !important;
    text-decoration: none;
    align-items: center;
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
    width: auto;
    margin: 0 6px;
    &__title {
        color: #23272F;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
        flex-shrink: 0;
    }
    &__image {
        width: 40px;
        height: 40px;
        margin-right: 18px;
    }
    &__chevron {
        width: 24px;
        height: 24px;
        margin-left: 24px;
    }
}