.events {
    padding-top: 32px;
    &-wrap {
        margin-top: 32px;
        position: relative;
        z-index: 2;
    }
    &-list {
        gap: 16px;
        margin-bottom: 32px;
        position: relative;
        z-index: 10;
        & .nav-item {
            & button {
                padding: 12px 24px;
                border-radius: 8px;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 125% */
                background: var(--primary-primary-secondary, linear-gradient(112deg, rgba(201, 119, 255, 0.10) 0%, rgba(255, 125, 204, 0.10) 40.99%, rgba(255, 138, 112, 0.10) 80.85%), #FFF);
                
                & span {
                    background: $primary-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &.active {
                    & span {
                        background: #fff;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    background: $primary-gradient;
                }
            }
        }
    }
    &-content {
        position: relative;
        z-index: 10;
        &__showmore {
            position: absolute;
            right: 0;
            top: -65px;
            background: var(--Primary-Primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &-card {
        display: flex;
        gap: 32px;
        padding: 32px 64px;
        background-color: greenyellow;
        border-radius: 16px;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        &__content {
        }
        &__image {
            flex-shrink: 0;
            width: 352px;
            border-radius: 16px;
            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 16px;
            }
        }
        &__head {
            display: flex;
            gap: 32px;
            margin-bottom: 16px;
        }
        &__date {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &__tag {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: red;
        }
        &__title {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #000;
            margin-bottom: 16px;
        }
        &__text {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 16px;
        }
    }
}

.events {
    &-slider-arrows {
        top: 20% !important;
        padding: 0;
        & .slider-arrow.next-slide {
            position: relative;
            right: -20px;
        }
        & .slider-arrow.prev-slide {
            position: relative;
            right: 20px;
        }
    } 
    &-anons-slider-arrows {
        padding: 0;
        top: 40% !important;
        & .slider-arrow.next-slide {
            position: relative;
            right: -20px;
        }
        & .slider-arrow.prev-slide {
            position: relative;
            right: 20px;
        }
    }
    &-slider {
        margin: 0px -12px;
    }
    &-slide {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        min-height: 450px;
        margin: 0px 12px;
        &__image {
            margin-bottom: 12px;
            height: 240px;
            border-radius: 16px;
            & img {
                border-radius: 16px;
                object-fit: cover;
            }
        }
        &__date {
            color: $primary;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 128.571% */
            margin-bottom: 12px;
        }
        &__title {
            color: #0B1F33;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px; /* 122.222% */
        }
        & .base-btn {
            margin-top: auto;
        }
    }
}

.events-wrap  .nav{
    position: relative;
    z-index: 5;
}

.events-anons-slider {
    margin: 0 -12px;
}

.events-anons-slide {
    display: flex !important;
    gap: 24px;
    background-color: #F8F8F8;
    padding: 24px;
    border-radius: 12px;
    margin: 0 12px;
    min-height: 260px;
    &__title {
        color: #2E333E;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 12px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        
        & li {
            & span:first-child {
                color: $primary;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 125% */
            }
            & span:last-child {
                overflow: hidden;
                color: #4F5769;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 125% */
            }
        }
        
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & .base-btn.base-btn__ghost {
            margin-top: auto;
        }
    }
    &__image {
        height: 212px;
        width: 212px;
        flex-shrink: 0;
        & img {
            object-fit: cover;
            border-radius: 8px;
        }
    }
}