.galery {
    position: relative;
    padding-bottom: 120px;
    &-wrap {
        position: relative;
        z-index: 9;
    }
    &-slider {
        margin: 0px -12px;
    }
    &-slide {
        width: 332px;
        height: 332px;
        display: flex;
        border-radius: 12px;
        margin: 0px 12px;
        border-radius: 12px;
        & img {
            border-radius: 12px;
            object-fit: cover;
        }
    }
}

.galery-slider {
    &-arrows {
        padding: 0;
        bottom: 65px !important;
        top: auto;
        height: 42px;
        & .slider-arrow.next-slide {
            position: absolute;
            left: 50%;
        }
        & .slider-arrow.prev-slide {
            position: absolute;
            left: 50%;
        }
    } 
    
}