.header {
    &-nav {
        &__items {
            display: flex;
            gap: 24px;
            align-items: center;
        }
        &__item {
            & a[aria-expanded=true] {
                &::after {
                    transform: rotate(180deg);
                }
            }
            & a {
                display: flex;
                align-items: center;
                padding: 12px 24px;
                border-radius: 8px;
                text-decoration: none;
                background: linear-gradient(112deg, rgba(153, 48, 223, 0.10) 0%, rgba(192, 68, 143, 0.10) 40.99%, rgba(241, 92, 59, 0.10) 80.85%), #FFF;
                color: #23272F;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 125% */
                & span {
                    background: var(--Primary-Primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &::after {
                    content: '';
                    margin-left: 8px;
                    display: block;
                    width: 24px;
                    height: 24px;
                    flex-shrink: 0;
                    background: url('../img/common/chevron-down_grad.svg') no-repeat center top / cover;
                }
            }
        }
    }
    &-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: $primary-gradient;
        width: 60px;
        height: 60px;
        margin-right: 24px;
        flex-shrink: 0;
        & img {
            width: 24px;
            height: 24px;
        }
    }
    &-main {
        &__top {
            background-color: #E6E7EC;
            padding: 24px 0px;
            & .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &-actions {
                display: flex;
                align-items: center;
                gap: 24px;
                & a {
                    flex-shrink: 0;
                }
            }
        }
        &__bottom {
            background-color: #F4F4F6;
            padding: 24px 0px;
            & .school-logo {
                width: 55%;
            }
            & .container {
                display: flex;
                align-items: center;
                // justify-content: space-between;
            }
            &-actions {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-left: auto;
                & a {
                    flex-shrink: 0;
                }
                & .base-btn.base-btn__white {
                    margin-left: 12px;
                }
            }
        }
    }
    &-submain {
        padding: 14px 0px;
        background-color: #fff;
        
        & .container {
            display: flex;
        }
        &__actions {
            display: none;
        }
        & .header-menu-btn {
            display: none;
        }
        &__fixed {
            position: fixed;
            width: 100%;
            background: #fff;
            z-index: 11;
            top: 0;
            & .header-menu-btn {
                display: inline-flex;
                width: 48px;
                height: 48px;
                & img {
                    height: 24px;
                    width: 24px;
                }
            }
            & .header-submain__actions {
                display: flex;
                gap: 24px;
                align-items: center;
                margin-left: auto;
            }
            & .search-link {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.header #accordion > .container {
    // display: block;
}

.header-submain__collapse .container {
    display: block;
}


.dropdown-menu li a {
    font-size: 14px;
    &:hover {
        background: var(--Primary-Primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
// left menu
.offcanvas {
    background-color: unset !important;
}
.new-leftsidebar {
    z-index: 9999;
    width: 100% !important;
    overflow: auto;
    & ul li a {
        text-decoration: none;
    }
  }
  .new-leftsidebar .uk-offcanvas-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    overflow: visible;
  }
  .leftsidebar-wrap {
    width: 576px;
    padding: 48px;
    background-color: #F4F4F6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    padding-bottom: 120px;
    -webkit-box-shadow: 4px 0px 12px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 4px 0px 12px 0px rgba(0, 0, 0, 0.12);
            z-index: 999999;
  }
  
  .uk-offcanvas-bar {
    padding: 0px !important;
    max-width: 100% !important;
  }
  
  .left-sidebar__nav {
    margin-bottom: 24px;
  }
  .left-sidebar__nav > .uk-navbar-nav > li > a {
    height: 57px !important;
  }
  .left-sidebar__nav .uk-navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
    width: 100%;
    margin-bottom: 16px;
  }
  .left-sidebar__nav .uk-navbar-nav li {
    position: relative;
  }
  .left-sidebar__nav .uk-navbar-nav li a {
    padding: 16px 32px;
    background-color: #fff;
    color: #23272F !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 24px;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    min-height: auto;
    text-transform: none;
  }
  .left-sidebar__nav .uk-navbar-nav li a[aria-expanded=true] {
    color: #EB281B !important;
  }
  .left-sidebar__nav .uk-navbar-nav li a[aria-expanded=true]::after {
    opacity: 1 !important;
  }
  .left-sidebar__nav .uk-navbar-nav li a.withchilds::after {
    content: "";
    font: normal normal normal 14px/1 FontAwesome;
    display: block;
    font-size: 25px;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: #EB281B;
  }
  .left-sidebar__nav .uk-navbar-nav li a:hover {
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: #EB281B !important;
    text-decoration: none;
  }
  .left-sidebar__nav .uk-navbar-nav li a:hover::after {
    opacity: 1;
  }
  .left-sidebar__nav.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: transparent;
  }
  .left-sidebar__nav .uk-navbar-dropdown {
    right: 0px;
    max-width: 1708px;
    -webkit-transform: translateX(calc(100% + 8px));
        -ms-transform: translateX(calc(100% + 8px));
            transform: translateX(calc(100% + 8px));
    width: 530px;
    border-radius: 8px;
    left: auto !important;
    top: 0px !important;
    overflow: auto;
  }
  .left-sidebar__nav .uk-navbar-dropdown {
    padding: 24px !important;
  }
  .left-sidebar__nav .uk-navbar-dropdown-nav a {
    padding: 0 !important;
  }
  .left-sidebar__nav .uk-navbar-dropdown-nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    gap: 12px !important;
  }
  .left-sidebar__nav .uk-navbar-dropdown-nav a {
    color: #23272F !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }
  
  .item-withchilds {
    position: relative;
  }
  .item-withchilds .uk-navbar-dropdown {
    -webkit-transform: translateX(calc(100% + 32px));
        -ms-transform: translateX(calc(100% + 32px));
            transform: translateX(calc(100% + 32px));
  }
  
  .leftsidebar-footer {
    margin-top: auto;
  }
  .leftsidebar-footer__title {
    color: var(--dark-23272-f, #23272F);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
  }
  .leftsidebar-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 9px;
  }
  .leftsidebar-footer ul li span {
    color: var(--dark-23272-f, #23272F);
  }
  .leftsidebar-footer ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    color: var(--dark-23272-f, #23272F);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .leftsidebar-footer ul li a:hover {
    color: var(--dark-23272-f, #23272F);
    text-decoration: none;
  }
  .leftsidebar-footer ul li a span {
    color: var(--dark-23272-f, #23272F);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .left-sidebar__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
    gap: 4px;
  }
  .left-sidebar__nav li {
    position: relative;
  }
  .left-sidebar__nav li.main-menu__item_withchilds ul {
    padding: 24px 0px;
  }
  .left-sidebar__nav li.main-menu__item_withchilds ul li a {
    padding-bottom: 12px !important;
  }
  .left-sidebar__nav li.main-menu__item_withchilds ul li:last-child a {
    border-radius: 0px 0px 8px 8px;
  }
  .left-sidebar__nav li.main-menu__item_withchilds ul li a {
    padding: 0 36px;
    color: #23272F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 0px;
  }
  .left-sidebar__nav li.main-menu__item_withchilds ul li a:hover {
    color: #EB281B;
    text-decoration: none;
  }
  .left-sidebar__nav li.main-menu__item_withchilds a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .left-sidebar__nav li.main-menu__item_withchilds a.highlighted {
    color: #EB281B !important;
  }
  .left-sidebar__nav li.main-menu__item_withchilds a.highlighted.has-submenu::after {
    opacity: 1;
    color: #EB281B;
  }
  .left-sidebar__nav li.main-menu__item_withchilds a.has::after {
    content: "";
    font: normal normal normal 14px/1 FontAwesome;
    display: block;
    font-size: 25px;
    opacity: 1;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: #23272F;
  }
  .left-sidebar__nav li.main-menu__item_withchilds a.has-submenu::after {
    content: "";
    font: normal normal normal 14px/1 FontAwesome;
    display: block;
    font-size: 25px;
    opacity: 1;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: #23272F;
  }
  .left-sidebar__nav li > ul {
    width: 530px !important;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    right: 0px !important;
    -webkit-transform: translateX(calc(100% + 8px)) !important;
        -ms-transform: translateX(calc(100% + 8px)) !important;
            transform: translateX(calc(100% + 8px)) !important;
    left: auto !important;
    top: 0px !important;
    margin-top: 0px !important;
    max-width: 100% !important;
    max-height: 200px;
  }
  .left-sidebar__nav li a {
    display: block;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 32px;
    color: #23272F;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .left-sidebar__nav li a:hover {
    color: #EB281B;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .close-offcanvas {
    width: 100%;
    border-radius: 8px;
    padding: 16px 32px;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
    margin-bottom: 24px;
    color: #EB281B !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .header-main-sm,
  .header-sm {
    display: none;
  }

//   
@media screen and (max-width: 1366px) {
    .leftsidebar-wrap {
        padding: 24px;
        width: 376px;
    }
    .left-sidebar__nav li > ul {
        width: 350px !important;
    }
}

@media screen and (max-width: 989px) {
    .leftsidebar-wrap {
        width: 100% !important;
        overflow: auto;
    }
    .left-sidebar__nav li > ul {
        position: inherit;
        height: 100%;
        max-height: 100%;
        width: 100% !important;
        transform: none !important;
        margin-left: 0px !important;
        padding: 0 !important;
        padding-left: 15px !important;
    }
    .close-offcanvas {
        display: flex;
        text-decoration: none;
    }
}

@media screen and (min-width: 1367px) {
    .uk-offcanvas-container {
        transition: all .3s ease;
        & .leftsidebar-footer {
            transition: all .3s ease;
            position: fixed;
            z-index: 99999;
            width: 536px;
            left: 0;
            bottom: 0;
            padding: 48px 0px 0px 48px;
            padding-bottom: 24px;
            background-color: #F4F4F6;
        }
        & .leftsidebar-wrap {
            padding-top: 0;
        }
        
        & .left-sidebar__nav {
            margin-top: 125px;
        }
        
        & .leftsidebar-wrap {
            background-color: transparent;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 120%;
                background-color: #F4F4F6;
            }
        }
        & .leftsidebar-footer {
            padding-bottom: 48px;
        }
    }
}

@media screen and (max-width: 1366px) {
    .uk-offcanvas-container {
        .leftsidebar-footer {
            width: 360px;
        }
    }
}

@media screen and (max-width: 989px) {
    .uk-offcanvas-container {
        .leftsidebar-wrap {
            padding-top: 0;
        }
        & .left-sidebar__nav {
            margin-top: 130px;
        }
    }
}