$primary: #C0448F;
$secondary: #9930DF;
$orange: #F15C3B;
$grey: #737373;
$primary-gradient: var(--5-active, linear-gradient(112deg, $secondary 0%, $primary 40.99%, $orange 80.85%));
$light-gradient: linear-gradient(112deg, rgba(201, 119, 255, 0.10) 0%, rgba(255, 125, 204, 0.10) 40.99%, rgba(255, 138, 112, 0.10) 80.85%);
