@import 'variables';

* {
    box-sizing: border-box;
}
html {
    position: relative;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    &.showCollapseMenu {
        overflow-y: hidden;
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
            background-color: rgba(0, 0, 0, 0.4);
        }
        & .header {
            position: relative;
            z-index: 19;
            &-submain {
                // border-radius: 0px 0px 42px 42px;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container {
    max-width: 1424px;
}

.reset_ul_ol {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
}

.grad-cl {
    background: var(--Primary-Primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.base-helper {
    width: 233px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 12px 24px 0px rgba(192, 68, 143, 0.24);
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 99;
    & img {
        width: 88px;
        height: 88px;
        margin: 0px auto;
    }
    & h4 {
        color: #23272F;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
        text-align: center;
    }
    & .base-btn {
        justify-content: center;
    }
}

.base-section {
    padding: 60px 0px;
    &__title {
        color: #23272F;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 111.111% */
        margin-bottom: 32px;
    }
}

.base-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #23272F;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    & img {
        width: 42px;
        height: 42px;
        flex-shrink: 0;
    }
}

.search-link {
    width: 24px;
    height: 24px;
}

.school-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #23272F;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    
    text-decoration: none;
    & span {
        line-height: normal;
    }
    & img {
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 8px;
    }
}

.slick-dots {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-top: 50px;
    position: absolute;
    left: calc(50% - 17px);
    transform: translateX(-50%);
    &_white {
        margin-top: 40px;
        & li {
            background: #fff !important;
        }
    }
    & li {
        transition: all ease .3s;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: $primary;
        cursor: pointer;
        transition: all ease .3s;
        &.slick-active {
            width: 96px;
            border-radius: 8px;
        }
    }
    & li button {
        display: none;
    }
}

.base-banner {
    background: linear-gradient(112deg, #FF4931 0.01%, #FFF 80.85%);
    border-radius: 24px;
    padding: 42px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    margin-top: 42px;
    &__student {
        position: absolute;
        right: 30px;
        width: auto;
        height: 95%;
        bottom: 0;
    }
    &__head {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 18px;
    }
    &__esia {
        width: 120px;
        height: 34px;
    }
    &__tag {
        padding: 8px 16px;
        color: #4F5769;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        background-color: #fff;
        border-radius: 4px;
    }
    &__title {
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 116.667% */
        width: 40%;
        margin-bottom: 80px;
    }
}



.base-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #4F5769;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    &_primary {
        color: $primary;
    }
    &_grad {
        background: var(--primary-primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    & .icon {
        width: 28px;
        height: 28px;
    }
    img {
        width: 24px;
        height: 24px;
    }
}

.primary-link {
    color: $primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    img {
        width: 24px;
        height: 24px;
    }
}

.base-btn {
    cursor: pointer;
    padding: 16px 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    transition: all .3s ease;
    border-radius: 8px;
    text-decoration: none;
    &.loading {
        & .spinner-border {
            width: 24px;
            height: 24px;
            --bs-spinner-border-width: 2px;
        }
    }
    &__icon {
        padding: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    &__circle {
        padding: 10px;
        border-radius: 100%;
        &::before {
            border-radius: 100% !important;
        }
    }
    &:hover {
        text-decoration: none;
    }
    &__primary {
        background: linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%);
        color: #fff;
        outline: 2px solid rgba(0, 0, 0, 0);
        &:hover {
            background: linear-gradient(112deg, #C0448F 0%, #F15C3B 80.85%);
        }
        &:active {
            background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%);
        }
        &:focus {
            background: linear-gradient(112deg, #BD2200 0%, #8800E2 80.85%);
            outline: 2px solid #9E9E9E;
        }
        &[disabled] {
            background: #E2E2E2;
        }
        &.loading {
            background: #F15C3B;
        }
        &-white {
            background-color: #fff;
            &:hover {
                & span {
                    background: linear-gradient(112deg, #C0448F 0%, #F15C3B 80.85%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .svg-icon .svg-icon__svg {
                    background: linear-gradient(112deg, #C0448F 0%, #F15C3B 80.85%);
                }
            }
            &:active {
                & span {
                    background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .svg-icon .svg-icon__svg {
                    background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%);
                }
            }
            &:focus {
                & span {
                    background: linear-gradient(112deg, #BD2200 0%, #8800E2 80.85%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .svg-icon .svg-icon__svg {
                    background: linear-gradient(112deg, #BD2200 0%, #8800E2 80.85%);
                }
            }
            
            & span {
                background: linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .svg-icon .svg-icon__svg {
                background: linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%);
            }
            &.loading .text-light {
                color: rgba(241, 92, 59, 1) !important;
            }
            &[disabled] {
                background: #E2E2E2;
                & span {
                    color: #fff;
                    background: #fff;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                & .svg-icon .svg-icon__svg {
                    background: #fff;
                }
                
            }
        }
    }
    &__secondary {
        background: transparent;
        position: relative;
        & span {
            background: $primary-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .svg-icon .svg-icon__svg {
            background: linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%);
        }
        &.loading .text-light {
            color: rgba(241, 92, 59, 1) !important;
        }
        &.loading {
            &::before {
                background:rgba(241, 92, 59, 1);
            }
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 8px; 
            padding: 2px; 
            background: $primary-gradient; 
            -webkit-mask: 
               linear-gradient(#fff 0 0) content-box, 
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude; 
        }
        &:hover {
            background: rgba(241, 92, 59, 0.04);
            & span {
                background: linear-gradient(112deg, #C0448F 0%, #F15C3B 80.85%); 
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .svg-icon .svg-icon__svg {
                background: linear-gradient(112deg, #C0448F 0%, #F15C3B 80.85%); 
            }
            &::before {
                background: linear-gradient(112deg, #C0448F 0%, #F15C3B 80.85%); 
            }
        }
        &:active {
            & span {
                background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%); 
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .svg-icon .svg-icon__svg {
                background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%); 
            }
            &::before {
                background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%); 
                background: rgba(241, 92, 59, 0.16);
            }
        }
        &:focus {
            & span {
                background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .svg-icon .svg-icon__svg {
                background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%);
            }
            &::before {
                background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%);
            }
        }
        &[disabled] {
            & span {
                background: rgba(226, 226, 226, 1); 
                color: rgba(226, 226, 226, 1);
                background: rgba(226, 226, 226, 1);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            & .svg-icon .svg-icon__svg {
                background: rgba(226, 226, 226, 1);
            }
            &::before {
                background: rgba(226, 226, 226, 1);
            }
        }
        &.loading {
            background: transparent;
            &::before {
                background: #F15C3B;
            }
        }
        &-white {
            border: 2px solid #fff;
            & span {
                color: #fff;
            }
            &:hover {
                background: rgba(255, 255, 255, 0.12);
            }
            &:active {}
            &:focus {
                border-color: #9E9E9E;
            }
            &[disabled] {
                opacity: 0.56;
            }
        }
        &-dark {
            border: 2px solid rgba(10, 10, 10, 1);
            & span {
                color: rgba(10, 10, 10, 1);
            }
            .svg-icon .svg-icon__svg {
                background: rgba(10, 10, 10, 1);
            }
            &:hover {
                background: rgba(17, 17, 17, 0.04);
                
            }
            &:active {
                background: rgba(17, 17, 17, 0.12);
            }
            &:focus {
                border-color: #9E9E9E;
            }
            &[disabled] {
                opacity: 0.56;
                border: 2px solid #E2E2E2;
                & span {
                    background: #E2E2E2;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .svg-icon .svg-icon__svg {
                    background: #E2E2E2;
                }
            }
            &.loading .text-light {
                color: #000 !important;
            }
        }
    }
    &__flat {
        border: 2px solid #fff;
        .svg-icon .svg-icon__svg {
            background: linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%);
        }
        & span {
            background: linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:hover {
            background: rgba(241, 92, 59, 0.04);
        }
        &:active {
            background: rgba(241, 92, 59, 0.16);
        }
        &:focus {
            background: transparent;
            background: rgba(241, 92, 59, 0.16);
            border-color: #9E9E9E;
        }
        &.loading .text-light {
            color: rgba(241, 92, 59, 1) !important;
        }
        &[disabled] {
            & span {
                background: #E2E2E2;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .svg-icon .svg-icon__svg {
                background: #E2E2E2;
            }
            &:hover {
                background: transparent;
            }
        }
    }
    &__flat-white {
        // border: 2px solid #fff;
        border: 2px solid transparent;
        .svg-icon .svg-icon__svg {
            background: linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%);
        }
        .svg-icon .svg-icon__svg {
            background: #fff;
        }
        & span {
            background: #fff;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:hover {
            background: rgba(255, 255, 255, 0.12);
        }
        &:active {
            background: rgba(255, 255, 255, 0.16);
        }
        &:focus {
            border: 2px solid #9E9E9E;
        }
        &.loading .text-light {
            color: #fff !important;
        }
        &[disabled] {
            & span {
                text-align: center;
                /* Body 16px/Medium */
                font-size: 16px;
                font-style: normal;
                line-height: normal;
                background: rgba(226, 226, 226, 1);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .svg-icon .svg-icon__svg {
                background: rgba(226, 226, 226, 1);
            }
            &:hover {
                background: transparent;
            }
        }
    }
    &__grey {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: #F5F5F5;
        & span {
            color:  #424242 !important;
            text-align: center;
            /* Medium/Buttom */
            font-size: 14px;
            font-style: normal;
            font-weight: 500 !important;
            line-height: normal;
        }
        &:hover {
            background: darken(#F5F5F5, 15%) !important;
            color:  #424242 !important;
            -webkit-text-fill-color: unset !important;
        }
        & img {
            width: 20px;
            height: 20px;
        }
    }
    &__user {
        display: flex;
        align-items: center;
        gap: 12px;
        &-icon {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            background-color: #fff;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                width: 24px;
                height: 24px;
            }
        }
        &-title {
            display: block;
            margin-right: 4px;
            color: #23272F;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 125% */
            margin-right: 4px;
        }
        &-arrow {
            display: block;
            & img {
                width: 24px;
                height: 24px;
            }
        }
    }
    &__ghost {
        background: transparent;
        position: relative;
        & span {
            background: $primary-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 8px; 
            padding: 2px; 
            background: $primary-gradient; 
            -webkit-mask: 
               linear-gradient(#fff 0 0) content-box, 
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude; 
        }
        &:hover {
            & span {
                background: linear-gradient(112deg, #C0448F 0%, #F15C3B 80.85%); 
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &::before {
                background: linear-gradient(112deg, #C0448F 0%, #F15C3B 80.85%); 
            }
        }
        &:active {
            & span {
                background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%); 
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &::before {
                background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%); 
            }
        }
        &:focus {
            & span {
                background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &::before {
                background: linear-gradient(112deg, #7011AF 0%, #C60078 40.99%, #B52100 80.85%);
            }
        }
    }
    &__white {
        padding: 12px 24px;
        background-color: #fff;
        &_gradient {
            background: var(--primary-primary-secondary, linear-gradient(112deg, rgba(201, 119, 255, 0.10) 0%, rgba(255, 125, 204, 0.10) 40.99%, rgba(255, 138, 112, 0.10) 80.85%), #FFF);
        }
        & span {
            background: var(--5-active, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
    &__grad {
        padding: 12px 24px;
        background: linear-gradient(112deg, rgba(201, 119, 255, 0.10) 0%, rgba(255, 125, 204, 0.10) 40.99%, rgba(255, 138, 112, 0.10) 80.85%);
        & span {
            background: var(--Primary-Primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.slider {
    &-arrows {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 5;
        top: 50%;
        transform: translateY(50%);
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
    }
    &-arrow {
        width: 42px;
        height: 42px;
        background: #fff;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        &_grey {
            background: var(--Primary-Primary-secondary, linear-gradient(112deg, rgba(201, 119, 255, 0.10) 0%, rgba(255, 125, 204, 0.10) 40.99%, rgba(255, 138, 112, 0.10) 80.85%), #FFF);;
            &:hover {
                background: $primary-gradient;
                & i {
                    color: #fff;
                }
            }
            & i {
                font-size: 25px;
                color: $primary;
            }
        }
        &_whiteicons {
            background: transparent !important;
            & i {
                color: #fff !important;
            }
        }
        &.next-slide {
            margin-left: auto;
        }
        &:hover {
            transition: all ease .3s;
            background: $primary-gradient;
            & i {
                color: #fff;
            }
        }
        &.slick-disabled {
            display: none !important;
        }
        & i {
            font-size: 25px;
            color: $primary;
        }
    }
}

.base-collapse {
    margin-top: 0 !important;
    border-top: 2px solid #F4F4F6;
    margin-top: 14px;
    // position: absolute;
    width: 100%;
    background: #fff;
    & .container {
        padding-top: 24px;
        padding-bottom: 60px;
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 42px;
        & li {
            width: calc(20% - 24px);
        }
        & li a {
            display: flex;
            gap: 18px;
            align-items: center;
            text-decoration: none;
            background-color: #F5F5F5;
            border-radius: 12px;
            padding: 24px;
            color: #23272F;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px; /* 122.222% */
            position: relative;
            transition: all .3s ease;
            & img {
                width: 40px;
                height: 40px;
            }
            &:hover {
                transition: all .3s ease;
                background: #fff;
                &::before {
                    display: block;
                }
                & span {
                    background: var(--Primary-Primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 8px;
                padding: 2px;
                background: var(--5-active, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
                -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                display: none;
            }
        }
    }
}
.base-collapse {
    border-radius: 0px 0px 42px 42px !important;
    border-top: 2px solid #F4F4F6;

    background: var(--, #FFF);
    margin-top: 14px;
    & > .container {
        display: block;
    }
    & .dropdown-menu {
        position: static !important;
        margin: 0px;
        transform: none !important;
        border: none;
        padding: 0;
        margin-bottom: 15px !important;
    }
}

.base-collapse__nav {
    & .dropdown-toggle {
        color: var(--Neutral-Neutral-90, #424242);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
        transition: all ease .3s;
        & .dropdown-toggle_icon-act {
            display: none;
        }
        &.show {
            transition: all ease .3s;
            background: var(--Primary-Primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 12px;
            & img {
                display: none;
            }
            & .dropdown-toggle_icon-act {
                display: inline-block;
            }
        }
        &:hover {
            transition: all ease .3s;
            background: var(--Primary-Primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        & img {
            width: 24px;
            height: 24px;
        }
        &::after {
            display: none;
        }
    }
    & li a {
        text-decoration: none;
    }
    & li > a {
        color: #23272F;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
        margin-bottom: 12px;
        &:hover {
            transition: all ease .3s;
            background: var(--Primary-Primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    & li:last-child {
        margin-bottom: 0;
    }
}
.base-collapse__menu-wrap {
    display: flex;
    gap: 24px;
    & .base-collapse__nav {
        width: 33%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.base-modal {
    padding: 42px;
    border-radius: 42px;
    background: #FFF;
    box-shadow: 0px 12px 24px 0px rgba(192, 68, 143, 0.25);
    width: 100%;
    max-width: 100%;
    margin: 0;
    &__map {
        &.base-modal .btn-close {
            background-color: #fff !important;
            opacity: 1;
        }
        & .modal-body {
            display: flex;
            &__contacts {
                width: 406px;
                flex-shrink: 0;
                padding-right: 62px;
                display: flex;
                flex-direction: column;
                &-title {
                    color: #0B1F33;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 22px; /* 122.222% */
                    margin-bottom: 32px;
                }
                &-social {
                    margin-top: auto;
                    & li a {
                        background-color: #F4F4F6;
                    }
                }
                &-card {
                    margin-bottom: 24px;
                    & h4 {
                        color: #C0448F;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: 12px;
                    }
                    & ul {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }
                    & ul li {
                        color: #4F5769;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        
                        & a {
                            color: #4F5769;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-decoration: none;
                        }
                    }
                }
            }
            &__map {
                width: 100%;
                border-radius: 0px 42px 42px 0px;
                margin: -37px;
                & iframe {
                    border-radius: 0px 42px 42px 0px;
                }
            }
        }
    }
    &_absolute-header {
        position: relative;
        & .modal-header {
            position: absolute;
            z-index: 10;
            right: 0;
            top: 0;
        }
    }
    &__title {
        color: #4F5769;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 111.111% */
    }
    & .btn-close {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        padding: 0;
        background-color: #F4F4F6;
        opacity: 1;
        &:focus {
            box-shadow: none;
        }
    }
    &__wrap {
        & .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    & .modal-content {
        border: none;
    }
    & .modal-header,
    & .modal-body {
        padding: 0;
        border-bottom: none;
    }
    & .modal-header {
        margin-bottom: 32px;
    }
    &__intro {
        color: #C0448F;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 24px;
    }
    &__text {
        color: #23272F;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        overflow-y: auto;
        max-height: 70vh;
    }
}

.base-dropdown__contacts {
    & .dropdown-menu {
        padding: 0;
        border: none;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 12px 24px 0px rgba(192, 68, 143, 0.24);
        width: 346px;
    }
}

.base-dropdown__wrap {
    padding: 24px;
    & .base-dropdown-card {
        &__btn {
            display: flex;
            justify-content: center;
        }
        margin-bottom: 12px;
        & h5 {
            background: var(--Primary-Primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 8px;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 125% */
        }
        & a,
        & span {
            color: var(--Neutral-Neutral-90, #424242);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 125% */
            text-decoration: none;
        }
        &__social {
            margin: 24px 0px;
            & li a {
                background-color: #F5F5F5;
            }
        }
    }
}

.header-menu-btn_sm {
    display: none !important;
}

.school-logo_sm {
    display: none;
    & span {
        // DANGER CUT STRING
        line-height: 1.0em;
        height: 3em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.school-logo {
    & span {
        // DANGER CUT STRING
        line-height: normal;
        height: 4em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.base-dropdown__lk {
    & .dropdown-menu {
        border-radius: 32px;
        background-color: #fff;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    }
    & .base-dropdown__wrap {
        padding: 32px;
        border-radius: 32px;
        background-color: #fff;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    }
}

.base-modal__map .modal-body__map {
    overflow: hidden
}

@import 'header';
@import 'offer';
@import 'services';
@import 'events';
@import 'about';
@import 'galery';
@import 'resource';
@import 'usefull';
@import 'footer';
@import 'media';
@import 'new-style';