@import 'variables';

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reset_ul_ol {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
}

.base-section {
    padding: 60px 0px;
    &__title {
        color: #23272F;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 111.111% */
        margin-bottom: 32px;
    }
}

.base-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #23272F;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    & img {
        width: 42px;
        height: 42px;
        flex-shrink: 0;
    }
}

.search-link {
    width: 24px;
    height: 24px;
}

.school-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #23272F;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    & img {
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 8px;
    }
}

.slick-dots {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-top: 50px;
    position: absolute;
    left: calc(50% - 17px);
    transform: translateX(-50%);
    & li {
        transition: all ease .3s;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: $primary;
        cursor: pointer;
        transition: all ease .3s;
        &.slick-active {
            width: 96px;
            border-radius: 8px;
        }
    }
    & li button {
        display: none;
    }
}

.base-banner {
    background: linear-gradient(112deg, #FF4931 0.01%, #FFF 80.85%);
    border-radius: 24px;
    padding: 42px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    margin-top: 42px;
    &__student {
        position: absolute;
        right: 30px;
        width: auto;
        height: 95%;
        bottom: 0;
    }
    &__head {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 18px;
    }
    &__esia {
        width: 120px;
        height: 34px;
    }
    &__tag {
        padding: 8px 16px;
        color: #4F5769;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        background-color: #fff;
        border-radius: 4px;
    }
    &__title {
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 116.667% */
        width: 40%;
        margin-bottom: 80px;
    }
}



.base-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #4F5769;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    &_primary {
        color: $primary;
    }
    &_grad {
        background: var(--primary-primary-main, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    & .icon {
        width: 28px;
        height: 28px;
    }
    img {
        width: 24px;
        height: 24px;
    }
}

.primary-link {
    color: $primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    img {
        width: 24px;
        height: 24px;
    }
}

.base-btn {
    cursor: pointer;
    padding: 16px 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    transition: all .3s ease;
    border-radius: 8px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &__ghost {
        background: transparent;
        position: relative;
        & span {
            background: $primary-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 8px; 
            padding: 2px; 
            background: $primary-gradient; 
            -webkit-mask: 
               linear-gradient(#fff 0 0) content-box, 
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude; 
        }
    }
    &__white {
        padding: 12px 24px;
        background-color: #fff;
        &_gradient {
            background: var(--primary-primary-secondary, linear-gradient(112deg, rgba(201, 119, 255, 0.10) 0%, rgba(255, 125, 204, 0.10) 40.99%, rgba(255, 138, 112, 0.10) 80.85%), #FFF);
        }
        & span {
            background: var(--5-active, linear-gradient(112deg, #9930DF 0%, #C0448F 40.99%, #F15C3B 80.85%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
    &__success {}
    &__danger {}
    &__grey {}
}

.flex-column {
    display: flex;
    flex-direction: column;
}

@import 'header';
@import 'offer';
@import 'services';
@import 'events';
@import 'about';
@import 'galery';
@import 'resource';
@import 'usefull';
@import 'footer';
